@font-face {font-family: "iconfont";
  src: url('../fonts/.eot?t=1582597410423'); /* IE9 */
  src: url('../fonts/iconfont.eot?t=1582597410423#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff2:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABlgAAAJtAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApgcwE2AiQDCAsGAAQgBYRtBzEbmgXIvkAmtzpApMSsPUcctygCGsz15gsfrLIRD//t9799ZuabCOLRs0pkkQhNNJFgdbP2GlRCNUkk0Ua+16/99ptBqDv9PP6EiKbTfSe+t9h0WiYlGhVCgzHgQh5ocJjgHkDgSZMTPENdN+jKrBca9AClCK90N1Bbl2uHEiosBlxTPzaggeQBzSUiKCo5EnBg0wF24ZpsIxn5hrELXuB5As3GaXp7Ds7uYKqwpwXiXBr7MC34FYWlGoX6hrVF3FKnMd1I42b0/fgtIUldZlfsP7sfwdY3nIx8pdrpgBAgoM11yFgFCnG4Mb7XQDDWQHN8aBocqzT4ZlUFNnFUs2B/nV3cCkah5JmknuxRixMoSf8gMDfpoaTW1vM/9n6ffT/2oV88fu/ttuevx26/msxdz9WyPXWg61gYjczWatcffP1H+78Hv6MA1fK2nB6CDTuvn93N/ksBX3oKeqsVw5ygcW+O4K9IB7YVQ25bU9Gkjc5kcNLUhGbNqGB3t7+phr5bSIdGfTfibDCWIWs0SxbmKuq02Ix6jbaj2YrDzS16sIEoTVj2CRA6fSFp9xJZp2+yMH9Rp98/6nUGaHY07NliPp7P5AtFGHxgGtaVcu0yj0tvKH4pfM7LI/YDcZeG0DascuqQKuIlFnSvsSOiUHFd4gG4jIqixobrjEIxEpFmbZqq6U1GWJcwtxsjPkEiKPABpUK1igp6i3nl8zdI7EXBxx1VdcEHhHXSwZHNYA0gDzXVoKpHuabzKuYQQkEKq5XQARhFCoUaappHZUhIGJIJ0caa6XRTQzXG9rryB4pZHbYxhTM0aziTVvEbpQAA') format('woff2'),
  url('../fonts/iconfont.woff?t=1582597410423') format('woff'),
  url('../fonts/iconfont.ttf?t=1582597410423') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg?t=1582597410423#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingwei:before {
  content: "\e60d";
}

